@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

h1 {
    @apply text-2xl;
    @apply text-center;
    @apply font-black;
    @apply uppercase;
    color: #247493;
}

h2 {
    @apply text-xl;
    @apply font-extrabold;
    color: #247493;
}

.vdatetime-input {
    @apply border;
    @apply rounded;
    @apply p-2;
}

textarea {
    @apply rounded;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.min-w-full {
    min-width: 100%;
}

.overflow-x-auto {
    overflow-x: auto;
}
